
.save-image-wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.save-image-button {
    border: 1px solid #000000;
    width: 120px;
    height: 25px;
    display: block;
    text-decoration: none;
    margin: 25px;
    cursor: pointer;
}